<div class="card-header" id="heading31">
  <h2 class="mb-0 d-flex justify-content-between">
    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse31" aria-expanded="false" aria-controls="collapse31">
      + Contratante
    </button>
    <% if current_user.user_type != 1 %>
      <%= link_to 'Eliminar', "/delete_table?table=dbo.CONTRATANTE&sistema=#{s}", method: :delete, class: 'btn btn-dark' %>
    <% end %>
  </h2>
</div>

<div id="collapse31" class="collapse" aria-labelledby="heading31" data-parent="#accordion">
  <div class="card-body">
    <div style='display: flex; justify-content: space-between;' class='my-2'>
      <p class="border-bottom" id="top">Id</p>
      <p class="border-bottom" id="top">Nombre</p>
      <p class="border-bottom" id="top">Dirección</p>
      <p class="border-bottom" id="top">Número</p>
      <% if current_user.user_type != 1 %>
        <div class="border-bottom" id="top" style='width: 180px; margin-bottom: 1rem'></div>
      <% end %>
    </div>

    <div style='display: flex; flex-direction: column;'>
      <% contratantes.each do |e| %>
        <div style='display: flex; justify-content: space-between;' class='my-2'>
          <p><%= e.id %></p>
          <p class="<%= 'wrong' if !valid_business_name?(e.nombre) %>"><%= e.nombre %></p>
          <p><%= e.direccion %></p>
          <p class="<%= 'wrong' if !valid_telefono?(e.numero) %>"><%= e.numero %></p>
          <% if current_user.user_type != 1 %>
            <%= render partial: "dashboard/links", locals: { e: e, table: 'dbo.CONTRATANTE' } %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
