<div class="card-header" id="heading11">
  <h2 class="mb-0 d-flex justify-content-between">
    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
      + Egreso de Mantenimiento
    </button>
    <% if current_user.user_type != 1 %>
      <%= link_to 'Eliminar', "/delete_table?table=dbo.EGRESO_MANTENIMIENTO&sistema=#{s}", method: :delete, class: 'btn btn-dark' %>
    <% end %>
  </h2>
</div>

<div id="collapse11" class="collapse" aria-labelledby="heading11" data-parent="#accordion">
  <div class="card-body">
    <div style='display: flex; justify-content: space-between;' class='my-2'>
      <p class="border-bottom" id="top">Id</p>
      <p class="border-bottom" id="top">Cantidad</p>
      <p class="border-bottom" id="top">Fecha</p>
      <p class="border-bottom" id="top">Id Ganancia</p>
      <% if current_user.user_type != 1 %>
        <div class="border-bottom" id="top" style='width: 180px; margin-bottom: 1rem'></div>
      <% end %>
    </div>

    <div style='display: flex; flex-direction: column;'>
       <% egreso_mantenimiento.each do |e| %>
        <div style='display: flex; justify-content: space-between;' class='my-2'>
          <p><%= e.id %></p>
          <p class="<%= 'wrong' if !valid_number?(e.cantidad) %>"><%= e.cantidad %></p>
          <p class="<%= 'wrong' if !valid_date?(e.fecha) %>"><%= e.fecha %></p>
          <p><%= e.id_ganancia %></p>
          <% if current_user.user_type != 1 %>
            <%= render partial: "dashboard/links", locals: { e: e, table: 'dbo.EGRESO_MANTENIMIENTO' } %>
          <% end %>
        </div>
      <% end %>
    </div>

  </div>
</div>
