<div class="card-header" id="heading2">
  <h2 class="mb-0 d-flex justify-content-between">
    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
      + Empleado
    </button>
    <% if current_user.user_type != 1 %>
      <%= link_to 'Eliminar', "/delete_table?table=dbo.EMPLEADOS&sistema=#{s}", method: :delete, class: 'btn btn-dark' %>
    <% end %>
  </h2>
</div>

<div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordion">
  <div class="card-body">
   <div style='display: flex; justify-content: space-between;' class='my-2'>
      <p class="border-bottom" id="top">Id</p>
      <p class="border-bottom" id="top">Nombre</p>
      <p class="border-bottom" id="top">Curp</p>
      <p class="border-bottom" id="top">Id Tipo Empleado</p>
      <% if current_user.user_type != 1 %>
        <div class="border-bottom" id="top" style='width: 180px; margin-bottom: 1rem'></div>
      <% end %>
    </div>

    <div style='display: flex; flex-direction: column;'>
      <% empleados.each do |e| %>
        <div class='my-2' style='display: flex; justify-content: space-between;'>
          <p><%= e.original_id %></p>
          <p class="<%= 'wrong' if !valid_name?(e.nombre) %>"><%= e.nombre %></p>
          <p class="<%= 'wrong' if !valid_CURP?(e.curp) %>"><%= e.curp %></p>
          <p><%= e.id_tipoempleado %></p>
          <% if current_user.user_type != 1 %>
            <%= render partial: "dashboard/links", locals: { e: e, table: 'dbo.EMPLEADOS' } %>
          <% end %>
        </div>
      <% end %>
    </div>

  </div>
</div>

