<div class="card-header" id="heading8">
  <h2 class="mb-0">
    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
      + Estancia - Cajero
    </button>
  </h2>
</div>

<div id="collapse8" class="collapse" aria-labelledby="heading8" data-parent="#accordion">
  <div class="card-body">
    <div style='display: flex; justify-content: space-between;' class='my-2'>
      <p class="border-bottom" id="top">Id</p>
      <p class="border-bottom" id="top">Tarifa</p>
      <p class="border-bottom" id="top">Fecha Inicio</p>
      <p class="border-bottom" id="top">Fecha Fin</p>
      <p class="border-bottom" id="top">Id Estancia</p>
      <% if current_user.user_type != 1 %>
        <div class="border-bottom" id="top" style='width: 180px; margin-bottom: 1rem'></div>
      <% end %>
    </div>

    <div style='display: flex; flex-direction: column;'>
      <% estancias_cajeros.each do |e| %>
        <div style='display: flex; justify-content: space-between;' class='my-2'>
          <p><%= e.id %></p>
          <p><%= e.tarifa %></p>
          <p><%= e.fechainicio %></p>
          <p><%= e.fechafin %></p>
          <p><%= e.id_estancia %></p>
          <% if current_user.user_type != 1 %>
            <%= render partial: "dashboard/links", locals: { e: e, table: 'dbo.ESTANCIA_CAJERO' } %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

