<div class="card-header" id="heading5">
  <h2 class="mb-0 d-flex justify-content-between">
    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
      + Estancia
    </button>
    <% if current_user.user_type != 1 %>
      <%= link_to 'Eliminar', "/delete_table?table=dbo.ESTANCIA&sistema=#{s}", method: :delete, class: 'btn btn-dark' %>
    <% end %>
  </h2>
</div>

<div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordion">
  <div class="card-body">
    <div style='display: flex; justify-content: space-between;' class='my-2'>
      <p class="border-bottom" id="top">Id</p>
      <p class="border-bottom" id="top">Fecha Inicio</p>
      <p class="border-bottom" id="top">Fecha Fin</p>
      <p class="border-bottom" id="top">Hora Inicio</p>
      <p class="border-bottom" id="top">Hora Fin</p>
      <p class="border-bottom" id="top">Duración</p>
      <p class="border-bottom" id="top">Estado</p>
      <p class="border-bottom" id="top">Subtotal</p>
      <p class="border-bottom" id="top">Total</p>
      <p class="border-bottom" id="top">Placa</p>
      <p class="border-bottom" id="top">Id Tarjeta</p>
      <% if current_user.user_type != 1 %>
        <div class="border-bottom" id="top" style='width: 180px; margin-bottom: 1rem'></div>
      <% end %>
    </div>

    <div style='display: flex; flex-direction: column;'>
      <% estancias.each do |e| %>
        <div class='my-2' style='display: flex; justify-content: space-between;'>
          <p><%= e.id %></p>
          <p class="<%= 'wrong' if !valid_date?(e.fechainicio) %>"><%= e.fechainicio %></p>
          <p class="<%= 'wrong' if !valid_date?(e.fechafin) %>"><%= e.fechafin %></p>
          <p><%= e.horainicio %></p>
          <p><%= e.horafin %></p>
          <p class="<%= 'wrong' if !valid_number?(e.duracion) %>"><%= e.duracion %></p>
          <p><%= e.estado %></p>
          <p class="<%= 'wrong' if !valid_number?(e.subtotal) %>"><%= e.subtotal %></p>
          <p class="<%= 'wrong' if !valid_number?(e.total) %>"><%= e.total %></p>
          <p class="<%= 'wrong' if !valid_placa?(e.placa) %>"><%= e.placa %></p>
          <p><%= e.id_tarjeta %></p>
          <% if current_user.user_type != 1 %>
            <%= render partial: "dashboard/links", locals: { e: e, table: 'dbo.ESTANCIA' } %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

