<div class="card-header" id="heading9">
  <h2 class="mb-0 d-flex justify-content-between">
    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
      + Ganancias
    </button>
    <% if current_user.user_type != 1 %>
      <%= link_to 'Eliminar', "/delete_table?table=dbo.GANANCIAS&sistema=#{s}", method: :delete, class: 'btn btn-dark' %>
    <% end %>
  </h2>
</div>

<div id="collapse9" class="collapse" aria-labelledby="heading9" data-parent="#accordion">
  <div class="card-body">
    <div style='display: flex; justify-content: space-between;' class='my-2'>
      <p class="border-bottom" id="top">Id</p>
      <p class="border-bottom" id="top">Ingresos</p>
      <p class="border-bottom" id="top">Egresos</p>
      <p class="border-bottom" id="top">Fecha Corte</p>
      <% if current_user.user_type != 1 %>
        <div class="border-bottom" id="top" style='width: 180px; margin-bottom: 1rem'></div>
      <% end %>
    </div>

    <% ganancias.each do |e| %>
      <div style='display: flex; justify-content: space-between;' class='my-2'>
        <p><%= e.id %></p>
        <p><%= e.ingresos %></p>
        <p><%= e.egresos %></p>
        <p><%= e.fechacorte %></p>
        <% if current_user.user_type != 1 %>
          <%= render partial: "dashboard/links", locals: { e: e, table: 'dbo.GANANCIAS' } %>
        <% end %>
      </div>
    <% end %>
    </div>

  </div>
</div>
