<div class="card-header" id="heading20">
  <h2 class="mb-0 d-flex justify-content-between">
    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse20" aria-expanded="false" aria-controls="collapse20">
      + Horario Disponible
    </button>
    <% if current_user.user_type != 1 %>
      <%= link_to 'Eliminar', "/delete_table?table=dbo.HORARIO_DISPONIBLE&sistema=#{s}", method: :delete, class: 'btn btn-dark' %>
    <% end %>
  </h2>
</div>

<div id="collapse20" class="collapse" aria-labelledby="heading20" data-parent="#accordion">
  <div class="card-body">
    <div style='display: flex; justify-content: space-between;' class='my-2'>
      <p class="border-bottom" id="top">Id</p>
      <p class="border-bottom" id="top">Hora Inicio</p>
      <p class="border-bottom" id="top">Hora Fin</p>
      <p class="border-bottom" id="top">Día</p>
      <% if current_user.user_type != 1 %>
        <div class="border-bottom" id="top" style='width: 180px; margin-bottom: 1rem'></div>
      <% end %>
    </div>

    <div style='display: flex; flex-direction: column;'>
      <% horarios.each do |e| %>
        <div style='display: flex; justify-content: space-between;' class='my-2'>
          <p><%= e.id %></p>
          <p><%= e.horainicio %></p>
          <p><%= e.horafin %></p>
          <p class='wrong'><%= e.dia %></p>
          <% if current_user.user_type != 1 %>
            <%= render partial: "dashboard/links", locals: { e: e, table: 'dbo.HORARIO_DISPONIBLE' } %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
