<div class="card-header" id="heading004">
  <h2 class="mb-0 d-flex justify-content-between">
    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse004" aria-expanded="false" aria-controls="collapse004">
      + Negocios
    </button>
    <% if current_user.user_type != 1 %>
      <%= link_to 'Eliminar', "/delete_table?table=dbo.NEGOCIOS&sistema=#{s}", method: :delete, class: 'btn btn-dark' %>
    <% end %>
  </h2>
</div>

<div id="collapse004" class="collapse" aria-labelledby="heading004" data-parent="#accordion">
  <div class="card-body">
    <div style='display: flex; justify-content: space-between;' class='my-2'>
      <p class="border-bottom" id="top">Id</p>
      <p class="border-bottom" id="top">Nombre</p>
      <p class="border-bottom" id="top">Giro</p>
      <p class="border-bottom" id="top">Estado</p>
      <% if current_user.user_type != 1 %>
        <div class="border-bottom" id="top" style='width: 180px; margin-bottom: 1rem'></div>
      <% end %>
    </div>

    <div style='display: flex; flex-direction: column;'>
      <% negocios.each do |e| %>
        <div style='display: flex; justify-content: space-between;' class='my-2'>
          <p><%= e.original_id %></p>
          <p class="<%= 'wrong' if !valid_business_name?(e.nombre) %>"><%= e.nombre %></p>
          <p class="<%= 'wrong' if !valid_giro_name?(e.giro) %>"><%= e.giro %></p>
          <p class="<%= 'wrong' if !valid_estado_negocio?(e.estado) %>"><%= e.estado %></p>
          <% if current_user.user_type != 1 %>
            <%= render partial: "dashboard/links", locals: { e: e, table: 'dbo.NEGOCIOS' } %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

