<div class="card-header" id="heading32">
  <h2 class="mb-0 d-flex justify-content-between">
    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse32" aria-expanded="false" aria-controls="collapse32">
      + Orden Servicio - Contratante
    </button>
    <% if current_user.user_type != 1 %>
      <%= link_to 'Eliminar', "/delete_table?table=dbo.ORDENSERVICIO_CONTRATANTE&sistema=#{s}", method: :delete, class: 'btn btn-dark' %>
    <% end %>
  </h2>
</div>

<div id="collapse32" class="collapse" aria-labelledby="heading32" data-parent="#accordion">
  <div class="card-body">
    <div style='display: flex; justify-content: space-between;' class='my-2'>
      <p class="border-bottom" id="top">Id</p>
      <p class="border-bottom" id="top">Nombre</p>
      <p class="border-bottom" id="top">Giro</p>
      <p class="border-bottom" id="top">Estado</p>
      <% if current_user.user_type != 1 %>
        <div class="border-bottom" id="top" style='width: 180px; margin-bottom: 1rem'></div>
      <% end %>
    </div>

    <div style='display: flex; flex-direction: column;'>
      <% ordenservicio_contratante.each do |e| %>
        <div style='display: flex; justify-content: space-between;' class='my-2'>
          <p><%= e.id %></p>
          <p><%= e.costo %></p>
          <p><%= e.tiempo %></p>
          <p><%= e.id_ordenservicio %></p>
          <p><%= e.id_contratante %></p>
          <% if current_user.user_type != 1 %>
            <%= render partial: "dashboard/links", locals: { e: e, table: 'dbo.ORDENSERVICIO_CONTRATANTE' } %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

