<div class="card-header" id="heading14">
  <h2 class="mb-0 d-flex justify-content-between">
    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse14" aria-expanded="false" aria-controls="collapse14">
      + Proveedor
    </button>
    <% if current_user.user_type != 1 %>
      <%= link_to 'Eliminar', "/delete_table?table=dbo.PROVEEDOR&sistema=#{s}", method: :delete, class: 'btn btn-dark' %>
    <% end %>
  </h2>
</div>

<div id="collapse14" class="collapse" aria-labelledby="heading14" data-parent="#accordion">
  <div class="card-body">
    <div style='display: flex; justify-content: space-between;' class='my-2'>
      <p class="border-bottom" id="top">Id</p>
      <p class="border-bottom" id="top">Nombre</p>
      <p class="border-bottom" id="top">RFC</p>
      <p class="border-bottom" id="top">Teléfono</p>
      <p class="border-bottom" id="top">Dirección</p>
      <% if current_user.user_type != 1 %>
        <div class="border-bottom" id="top" style='width: 180px; margin-bottom: 1rem'></div>
      <% end %>
    </div>

    <div style='display: flex; flex-direction: column;'>
      <% proveedores.each do |e| %>
    <div style='display: flex; justify-content: space-between;' class='my-2'>
      <p><%= e.original_id %></p>
      <p class="<%= 'wrong' if !valid_name?(e.nombre) %>"><%= e.nombre %></p>
      <p class="<%= 'wrong' if !valid_RFC?(e.rfc) %>"><%= e.rfc %></p>
      <p class="<%= 'wrong' if !valid_telefono?(e.telefono) %>"><%= e.telefono %></p>
      <p><%= e.direccion %></p>
      <% if current_user.user_type != 1 %>
        <%= render partial: "dashboard/links", locals: { e: e, table: 'dbo.PROVEEDOR' } %>
      <% end %>
    </div>
  <% end %>
    </div>
  </div>
</div>
