<div class="card-header" id="heading26">
  <h2 class="mb-0 d-flex justify-content-between">
    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse26" aria-expanded="false" aria-controls="collapse26">
      + Sección Bodega
    </button>
    <% if current_user.user_type != 1 %>
      <%= link_to 'Eliminar', "/delete_table?table=dbo.SECCION_BODEGA&sistema=#{s}", method: :delete, class: 'btn btn-dark' %>
    <% end %>
  </h2>
</div>

<div id="collapse26" class="collapse" aria-labelledby="heading26" data-parent="#accordion">
  <div class="card-body">
    <div style='display: flex; justify-content: space-between;' class='my-2'>
      <p class="border-bottom" id="top">Id</p>
      <p class="border-bottom" id="top">Nombre</p>
      <p class="border-bottom" id="top">Tamaño</p>
      <p class="border-bottom" id="top">Estante</p>
      <p class="border-bottom" id="top">Número</p>
      <p class="border-bottom" id="top">Id Recurso Material</p>
      <% if current_user.user_type != 1 %>
        <div class="border-bottom" id="top" style='width: 180px; margin-bottom: 1rem'></div>
      <% end %>
    </div>

    <div style='display: flex; flex-direction: column;'>
      <% secciones.each do |e| %>
        <div style='display: flex; justify-content: space-between;' class='my-2'>
          <p><%= e.original_id %></p>
          <p><%= e.nombre %></p>
          <p class='wrong'><%= e.tamaño %></p>
          <p><%= e.estante %></p>
          <p><%= e.numero %></p>
          <p><%= e.id_recursomaterial %></p>
          <% if current_user.user_type != 1 %>
            <%= render partial: "dashboard/links", locals: { e: e, table: 'dbo.SECCION_BODEGA' } %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
