<div class="card-header" id="heading10">
  <h2 class="mb-0 d-flex justify-content-between">
    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
      + Sensor
    </button>
    <% if current_user.user_type != 1 %>
      <%= link_to 'Eliminar', "/delete_table?table=dbo.SENSOR&sistema=#{s}", method: :delete, class: 'btn btn-dark' %>
    <% end %>
  </h2>
</div>

<div id="collapse10" class="collapse" aria-labelledby="heading10" data-parent="#accordion">
  <div class="card-body">
    <div style='display: flex; justify-content: space-between;' class='my-2'>
      <p class="border-bottom" id="top">Id</p>
      <p class="border-bottom" id="top">Estado</p>
      <p class="border-bottom" id="top">Fecha</p>
      <p class="border-bottom" id="top">Id Pasillo Área</p>
      <% if current_user.user_type != 1 %>
        <div class="border-bottom" id="top" style='width: 180px; margin-bottom: 1rem'></div>
      <% end %>
    </div>

    <div style='display: flex; flex-direction: column;'>
      <% sensores.each do |e| %>
        <div style='display: flex; justify-content: space-between;' class='my-2'>
          <p ><%= e.original_id %></p>
          <p class="<%= 'wrong' if !valid_estado_cajero?(e.estado) %>"><%= e.estado %></p>
          <p class="<%= 'wrong' if !valid_date?(e.fecha) %>"><%= e.fecha %></p>
          <p><%= e.id_pasillo %></p>
          <% if current_user.user_type != 1 %>
            <%= render partial: "dashboard/links", locals: { e: e, table: 'dbo.SENSOR' } %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
