<div class="card-header" id="heading25">
  <h2 class="mb-0 d-flex justify-content-between">
    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse25" aria-expanded="false" aria-controls="collapse25">
      + Tarea - Material
    </button>
    <% if current_user.user_type != 1 %>
      <%= link_to 'Eliminar', "/delete_table?table=dbo.TAREA_MATERIAL&sistema=#{s}", method: :delete, class: 'btn btn-dark' %>
    <% end %>
  </h2>
</div>

<div id="collapse25" class="collapse" aria-labelledby="heading25" data-parent="#accordion">
  <div class="card-body">
    <div style='display: flex; justify-content: space-between;' class='my-2'>
      <p class="border-bottom" id="top">Id</p>
      <p class="border-bottom" id="top">Cantidad Entregada</p>
      <p class="border-bottom" id="top">Id Tarea</p>
      <p class="border-bottom" id="top">Id Recurso Material</p>
      <p class="border-bottom" id="top">Id Empleado</p>
      <% if current_user.user_type != 1 %>
        <div class="border-bottom" id="top" style='width: 180px; margin-bottom: 1rem'></div>
      <% end %>
    </div>

    <div style='display: flex; flex-direction: column;'>
      <% tareas_materiales.each do |e| %>
        <div style='display: flex; justify-content: space-between;' class='my-2'>
          <p><%= e.id %></p>
          <p><%= e.cantidadentregada %></p>
          <p><%= e.id_tarea %></p>
          <p><%= e.id_recursomaterial %></p>
          <p><%= e.id_empleado %></p>
          <% if current_user.user_type != 1 %>
            <%= render partial: "dashboard/links", locals: { e: e, table: 'dbo.TAREA_MATERIAL' } %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
