<div class="card-header" id="heading1">
  <h2 class="mb-0 d-flex justify-content-between">
    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
      + Tipo empleado
    </button>
    <% if current_user.user_type != 1 %>
      <%= link_to 'Eliminar', "/delete_table?table=dbo.TIPO_EMPLEADOS&sistema=#{s}", method: :delete, class: 'btn btn-dark' %>
    <% end %>
  </h2>
</div>

<div id="collapse1" class="collapse" aria-labelledby="heading1" data-parent="#accordion">
  <div class="card-body">
    <div style='display: flex; justify-content: space-between;' class='my-2'>
      <p class="border-bottom" id="top">Id</p>
      <p class="border-bottom" id="top">Nombre</p>
      <p class="border-bottom" id="top">Salario</p>
      <% if current_user.user_type != 1 %>
        <div class="border-bottom" id="top" style='width: 180px; margin-bottom: 1rem' ></div>
      <% end %>
    </div>

    <div style='display: flex; flex-direction: column;'>
      <% tipos_empleado.each do |e| %>
        <div style='display: flex; justify-content: space-between;' class='my-2'>
          <p class='text-center'><%= e.id %></p>
          <p class="text-center <%= 'wrong' if !valid_name?(e.nombre) %>"><%= e.nombre %></p>
          <p class="text-center <%= 'wrong' if !valid_salary?(e.salario) %>"><%= e.salario %></p>
          <% if current_user.user_type != 1 %>
            <%= render partial: "dashboard/links", locals: { e: e, table: 'dbo.TIPO_EMPLEADOS' } %>
          <% end %>
        </div>
      <% end %>
    </div>

  </div>
</div>

