
<nav class="navbar navbar-expand-lg bg-dark" style='justify-content: space-between;'>
  <%= link_to 'Salir', destroy_user_session_path, method: 'delete'%>
  <div class='d-flex'>
    <div style='display: flex; flex-direction: column; color: #fff;'>
      <p style='margin: 0;'>Usuario: <%= current_user.email %></p>
      <p style='margin: 0;'>Tipo usuario: <%= current_user.user_type_name %></p>
    </div>
    <%= image_tag 'user.png', style: 'height: 50px; margin-left: 15px;' %>
  </div>
</nav>

<% Octopus.using(:TEMP) do %>
  <div class="container etl shadow">
    <% if current_user.user_type == 1 && @etl %>
      <div class='m-5 text-center'>
        <h4 class='font-weight-bold mb-5'>Actualmente hay un ETL en proceso</h4>
        <p class='font-italic' style='color: #001fff;'>Notifica a los dueños de cada sistema que hay datos que deben corregir y/o eliminar</p>
        <%= image_tag 'transform.png', style: 'height: 150px;' %>
        <p class='font-italic font-weight-bold'>Etapa de trasnformación de los datos</p>
        <p style='justify-content: center;'>E <b style='color: #001fff;'> T </b> L</p>
        <%= link_to 'Ver datos que necesitan correcciones', etl_index_path, class: 'btn btn-secondary' %>
      </div>

    <% elsif current_user.user_type == 1 %>
      <div class='m-5 text-center'>
        <div class='etl-info'>
          <h4 class='font-weight-bold mb-5'>¿Qué es un ETL?</h4>
          <div style='display: flex;'>
            <div style='flex: 2;'>
              <p style='justify-content: flex-start; text-align: left;'>La palabra ETL corresponde a las siglas en inglés de:</p>
              <ul style='text-align: left;'>
                <li>Extraer: extract.</li>
                <li>Transformar: transform.</li>
                <li>Cargar: load.</li>
              </ul>
              <p style='justify-content: flex-start; text-align: left;'>
                Este proceso (ETL) se lleva a cabo cuando se desean integrar datos de distintas fuentes, en este caso de
                3 bases de datos distintas, con el fin de realizar análisis de datos sobre la nueva estructura.
              </p>
              <p style='justify-content: flex-start; text-align: left;'>
                La nueva estructura, generalmente un Data warehouse, contendrá información histórica de una empresa, por lo tanto
                la información que se obtenga de ella será más precisa y real.
              </p>
            </div>
            <div style='flex:3;'>
              <%= image_tag 'etl.png', style: 'width: 100%;' %>
            </div>
          </div>

          <%= link_to 'Iniciar proceso de extracción', etl_index_path, id: 'etl-start', class: 'btn btn-success mt-5' %>
        </div>

        <div class='extract-info d-none'>
          <h4 class='font-weight-bold mb-5'>Esta en proceso la etapa de extracción...</h4>
          <%= image_tag 'espera.gif', style: 'height: 300px;' %>
          <p class='font-italic font-weight-bold'>Etapa de extracción de los datos</p>
          <p style='justify-content: center;'> <b style='color: #001fff;'> E </b> TL</p>
        </div>

      </div>

    <% elsif current_user.user_type != 1 && !@etl %>
      <p>No tienes registros que corregir</p>


    <!-- FINANZAS -->
    <% elsif current_user.user_type == 2 %>
      <h1>Datos a corregir</h1>

      <div id="accordion">

        <% if @tipos_empleado_F.present? %>
          <div class="card">
            <%= render partial: "tipo_empleado", locals: { tipos_empleado: @tipos_empleado_F, s: 'F' } %>
          </div>
        <% end %>

        <% if @empleados_F.present? %>
          <div class="card">
            <%= render partial: "empleado", locals: { empleados: @empleados_F, s: 'F' } %>
          </div>
        <% end %>

        <% if @locales.present? %>
          <div class="card">
            <%= render partial: "locales", locals: { locales: @locales, s: 'F' } %>
          </div>
        <% end %>

        <% if @negocios.present? %>
          <div class="card">
            <%= render partial: "negocios", locals: { negocios: @negocios, s: 'F' } %>
          </div>
        <% end %>

        <% if @negocios_locales.present? %>
          <div class="card">
            <%= render partial: "local_negocio", locals: { negocios_locales: @negocios_locales, s: 'F' } %>
          </div>
        <% end %>

        <% if @clientes.present? %>
          <div class="card">
            <%= render partial: "cliente", locals: { clientes: @clientes, s: 'F' } %>
          <div>
        <% end %>

        <% if @contratos.present? %>
          <div class="card">
            <%= render partial: "contrato", locals: { contratos: @contratos, s: 'F' } %>
          </div>
        <% end %>

        <% if @rentas.present? %>
          <div class="card">
            <%= render partial: "rentas", locals: { rentas: @rentas, s: 'F' } %>
          </div>
        <% end %>

        <% if @ganancias.present? %>
          <div class="card">
            <%= render partial: "ganancias", locals: { ganancias: @ganancias, s: 'F' } %>
          </div>
        <% end %>

        <% if @ingresos_estacionamiento.present? %>
          <%= render partial: "ingreso_estacionamiento", locals: { ingreso_estacionamiento: @ingresos_estacionamiento, s: 'F' } %>
        <% end %>

        <% if @egresos_mantenimiento.present? %>
          <div class="card">
            <%= render partial: "egreso_mantenimiento", locals: { egreso_mantenimiento: @egresos_mantenimiento, s: 'F' } %>
          </div>
        <% end %>

        <% if @pagos.present? %>
          <div class="card">
            <%= render partial: "pagos", locals: { pagos: @pagos, s: 'F' } %>
          </div>
        <% end %>

        <% if @abonos.present? %>
          <div class="card">
            <%= render partial: "abonos", locals: { abonos: @abonos, s: 'F' } %>
          </div>
        <% end %>

      </div>


    <!-- ESTACIONAMIENTO -->
    <% elsif current_user.user_type == 3 %>
      <h1>Datos a corregir</h1>

      <div id="accordion">

        <div class="card">
          <% if @tipos_empleado_E.present? %>
            <%= render partial: "tipo_empleado", locals: { tipos_empleado: @tipos_empleado_E, s: 'E' } %>
          <% end %>
        </div>

        <div class="card">
          <% if @empleados_E.present? %>
            <%= render partial: "empleado", locals: { empleados: @empleados_E, s: 'E' } %>
          <% end %>
        </div>

        <div class="card">
          <% if @recursos_materiales_E.present? %>
            <%= render partial: "recurso_material", locals: { recursos_materiales: @recursos_materiales_E, s: 'E' } %>
          <% end %>
        </div>

        <div class="card">
          <% if @tarjeta_E.present? %>
            <%= render partial: "tarjeta", locals: { tarjetas: @tarjeta_E, s: 'E' } %>
          <% end %>
        </div>

        <div class="card">
          <% if @estancia_E.present? %>
            <%= render partial: "estancia", locals: { estancias: @estancia_E, s: 'E' } %>
          <% end %>
        </div>

        <div class="card">
          <% if @areas_E.present? %>
            <%= render partial: "area", locals: { areas:  @areas_E, s: 'E' } %>
          <% end %>
        </div>

        <div class="card">
          <% if @cajeros.present? %>
            <%= render partial: "cajero", locals: { cajeros:  @cajeros, s: 'E' } %>
          <% end %>
        </div>

        <div class="card">
          <% if @estancia_cajero.present? %>
            <%= render partial: "estancia_cajero", locals: { estancias_cajeros:  @estancia_cajero, s: 'E' } %>
          <% end %>
        </div>

        <div class="card">
          <% if @pasillos.present? %>
            <%= render partial: "pasillo", locals: { pasillos:  @pasillos, s: 'E' } %>
          <% end %>
        </div>

        <div class="card">
          <% if @sensores.present? %>
            <%= render partial: "sensor", locals: { sensores:  @sensores, s: 'E' } %>
          <% end %>
        </div>

        <div class="card">
          <% if @descuentos.present? %>
            <%= render partial: "descuento", locals: { descuentos: @descuentos, s: 'E' } %>
          <% end %>
        </div>

        <div class="card">
          <% if @tipos_accidentes.present? %>
            <%= render partial: "tipo_accidente", locals: { tipos_accidentes: @tipos_accidentes, s: 'E' } %>
          <% end %>
        </div>

        <div class="card">
          <% if @accidentes.present? %>
            <%= render partial: "accidentes", locals: { accidentes: @accidentes, s: 'E' } %>
          <% end %>
        </div>

        <div class="card">
          <% if @proveedores_E.present? %>
            <%= render partial: "proveedor", locals: { proveedores: @proveedores_E, s: 'E' } %>
          <% end %>
        </div>

        <div class="card">
          <% if @tipos_materiales_E.present? %>
            <%= render partial: "tipo_material", locals: { tipos_materiales:  @tipos_materiales_E, s: 'E' } %>
          <% end %>
        </div>

        <div class="card">
          <% if @proveedores_materiales_E.present? %>
            <%= render partial: "proveedor_material", locals: { proveedores_materiales:  @proveedores_materiales_E, s: 'E' } %>
          <% end %>
        </div>

        <div class="card">
          <% if @solicitudes_compras_E.present? %>
            <%= render partial: "solicitud_compra", locals: { solicitudes_compras:  @solicitudes_compras_E, s: 'E' } %>
          <% end %>
        </div>

        <div class="card">
          <% if @orden_despacho_E.present? %>
            <%= render partial: "orden_despacho", locals: { orden_despacho:  @orden_despacho_E, s: 'E' } %>
          <% end %>
        </div>

        <div class="card">
          <% if @orden_despacho_materiales_E.present? %>
            <%= render partial: "ordendespacho_material", locals: { ordendespacho_material:  @orden_despacho_materiales_E, s: 'E' } %>
          <% end %>
        </div>

      </div>


    <!-- MANTENIMIENTO Y LIMPIEZA -->
    <% elsif current_user.user_type == 4 %>
      <h1>Datos a corregir</h1>

      <div id="accordion">

        <div class="card">
          <% if @tipos_empleado_M.present? %>
            <%= render partial: "tipo_empleado", locals: { tipos_empleado: @tipos_empleado_M, s: 'M' } %>
          <% end %>
        </div>

        <div class="card">
          <% if @empleados_M.present? %>
            <%= render partial: "empleado", locals: { empleados: @empleados_M, s: 'M' } %>
          <% end %>
        </div>

        <div class="card">
          <% if @recursos_materiales_M.present? %>
            <%= render partial: "recurso_material", locals: { recursos_materiales: @recursos_materiales_M, s: 'M' } %>
          <% end %>
        </div>

        <div class="card">
          <% if @tipo_area.present? %>
            <%= render partial: "tipo_area", locals: { tipos_areas:  @tipo_area, s: 'M' } %>
          <% end %>
        </div>

        <div class="card">
          <% if @areas_M.present? %>
            <%= render partial: "area", locals: { areas:  @areas_M, s: 'M' } %>
          <% end %>
        </div>

        <div class="card">
          <% if @horarios_disp.present? %>
            <%= render partial: "horario_disponible", locals: { horarios:  @horarios_disp, s: 'M' } %>
          <% end %>
        </div>

        <div class="card">
          <% if @proveedores_M.present? %>
            <%= render partial: "proveedor", locals: { proveedores:  @proveedores_M, s: 'M' } %>
          <% end %>
        </div>

        <div class="card">
          <% if @categorias.present? %>
            <%= render partial: "categoria", locals: { categorias:  @categorias, s: 'M' } %>
          <% end %>
        </div>

        <div class="card">
          <% if @tipos_materiales_M.present? %>
            <%= render partial: "tipo_material", locals: { tipos_materiales:  @tipos_materiales_M, s: 'M' } %>
          <% end %>
        </div>

        <div class="card">
          <% if @proveedores_materiales_M.present? %>
            <%= render partial: "proveedor_material", locals: { proveedores_materiales:  @proveedores_materiales_M, s: 'M' } %>
          <% end %>
        </div>

        <div class="card">
          <% if @solicitudes_compras_M.present? %>
            <%= render partial: "solicitud_compra", locals: { solicitudes_compras:  @solicitudes_compras_M, s: 'M' } %>
          <% end %>
        </div>

        <div class="card">
          <% if @servicios.present? %>
            <%= render partial: "servicio", locals: { servicios:  @servicios, s: 'M' } %>
          <% end %>
        </div>

        <div class="card">
          <% if @servicios_materiales.present? %>
            <%= render partial: "servicio_material", locals: { servicios_materiales:  @servicios_materiales, s: 'M' } %>
          <% end %>
        </div>

        <div class="card">
          <% if @tareas.present? %>
            <%= render partial: "tarea", locals: { tareas:  @tareas, s: 'M' } %>
          <% end %>
        </div>

        <div class="card">
          <% if @tareas_materiales.present? %>
            <%= render partial: "tarea_material", locals: { tareas_materiales:  @tareas_materiales, s: 'M' } %>
          <% end %>
        </div>

        <div class="card">
          <% if @secciones.present? %>
            <%= render partial: "seccion_bodega", locals: { secciones:  @secciones, s: 'M' } %>
          <% end %>
        </div>

        <div class="card">
          <% if @horarios.present? %>
            <%= render partial: "horario", locals: { horarios:  @horarios, s: 'M' } %>
          <% end %>
        </div>

        <div class="card">
          <% if @tipos_incidentes.present? %>
            <%= render partial: "tipo_incidente", locals: { tipos_incidentes:  @tipos_incidentes, s: 'M' } %>
          <% end %>
        </div>

        <div class="card">
          <% if @incidentes.present? %>
            <%= render partial: "incidente", locals: { incidentes:  @incidentes, s: 'M' } %>
          <% end %>
        </div>

        <div class="card">
          <% if @ordenes_servicio.present? %>
            <%= render partial: "orden_servicio", locals: { ordenes_servicio:  @ordenes_servicio, s: 'M' } %>
          <% end %>
        </div>

        <div class="card">
          <% if @contratistas.present? %>
            <%= render partial: "contratante", locals: { contratantes:  @contratistas, s: 'M' } %>
          <% end %>
        </div>

        <div class="card">
          <% if @orden_servicio_contratistas.present? %>
            <%= render partial: "ordenservicio_contratante", locals: { ordenservicio_contratante:  @orden_servicio_contratistas, s: 'M' } %>
          <% end %>
        </div>

        <div class="card">
          <% if @areas_servicios.present? %>
            <%= render partial: "area_servicio", locals: { areas_servicios:  @areas_servicios, s: 'M' } %>
          <% end %>
        </div>

        <div class="card">
          <% if @orden_despacho_M.present? %>
            <%= render partial: "orden_despacho", locals: { orden_despacho:  @orden_despacho_M, s: 'M' } %>
          <% end %>
        </div>

        <div class="card">
          <% if @orden_despacho_materiales_M.present? %>
            <%= render partial: "ordendespacho_material", locals: { ordendespacho_material:  @orden_despacho_materiales_M, s: 'M' } %>
          <% end %>
        </div>

      </div>

    <%end%>
  </div>
<%end%>
