<div class="container">
  <form action="/update?table=<%=@table%>&id=<%=@element.id%>&s=<%=@system%>", method='post'>
    <% if @table == 'dbo.EMPLEADOS' %>
      <p>Modifcando Empleado</p>
      <%= label_tag :nombre %>
      <%= text_field_tag (:nombre), @element.nombre %>
      <%= label_tag :curp %>
      <%= text_field_tag (:curp), @element.curp %>

    <%elsif @table == 'dbo.TIPO_EMPLEADOS'%>
      <p>Modifcando tipo de empleado</p>
      <%= label_tag :nombre %>
      <%= text_field_tag (:nombre), @element.nombre %>
      <%= label_tag :salario %>
      <%= text_field_tag (:salario), @element.salario %>

    <%elsif @table == 'dbo.RECURSO_MATERIAL'%>
      <p>Modifcando el recurso material</p>
      <%= label_tag :nombre %>
      <%= text_field_tag (:nombre), @element.nombre %>
      <%= label_tag :categoria %>
      <%= text_field_tag (:categoria), @element.categoria %>

    <%elsif @table == 'dbo.TARJETA'%>
      <p>Modifcando la tarjeta</p>
      <%= label_tag :estado %>
      <%= text_field_tag (:estado), @element.estado %>

    <%elsif @table == 'dbo.ESTANCIA'%>
      <p>Modifcando la estancia</p>
      <%= label_tag :fechainicio %>
      <%= text_field_tag (:fechainicio), @element.fechainicio %>
      <%= label_tag :fechafin %>
      <%= text_field_tag (:fechafin), @element.fechafin %>
      <%= label_tag :duracion %>
      <%= text_field_tag (:duracion), @element.duracion %>
      <%= label_tag :subtotal %>
      <%= text_field_tag (:subtotal), @element.subtotal %>
      <%= label_tag :total %>
      <%= text_field_tag (:total), @element.total %>
      <%= label_tag :placa %>
      <%= text_field_tag (:placa), @element.placa %>

    <%elsif @table == 'dbo.TIPO_AREA'%>
      <p>Modifcando el tipo de area </p>
      <%= label_tag :nombre %>
      <%= text_field_tag (:nombre), @element.nombre %>

    <%elsif @table == 'dbo.AREA'%>
      <p>Modifcando el area </p>
      <%= label_tag :nombre %>
      <%= text_field_tag (:nombre), @element.nombre %>
      <%= label_tag :descripcion %>
      <%= text_field_tag (:descripcion), @element.descripcion %>
      <%= label_tag :id_tipoarea %>
      <%= text_field_tag (:id_tipoarea), @element.id_tipoarea %>

    <%elsif @table == 'dbo.CAJERO'%>
      <p>Modifcando el cajero </p>
      <%= label_tag :dineroactual %>
      <%= text_field_tag (:dineroactual), @element.dineroactual %>
      <%= label_tag :fechaactual %>
      <%= text_field_tag (:fechaactual), @element.fechaactual %>
      <%= label_tag :periodicidadmantenimiento %>
      <%= text_field_tag (:periodicidadmantenimiento), @element.periodicidadmantenimiento %>
      <%= label_tag :estado %>
      <%= text_field_tag (:estado), @element.estado %>

    <%elsif @table == 'dbo.ESTANCIA_CAJERO'%>
      <p>Modifcando el cajero </p>
      <%= label_tag :tarifa %>
      <%= text_field_tag (:tarifa), @element.tarifa %>
      <%= label_tag :fechainicio %>
      <%= text_field_tag (:fechainicio), @element.fechainicio %>
      <%= label_tag :fechafin %>
      <%= text_field_tag (:fechafin), @element.fechafin %>

    <%elsif @table == 'dbo.PASILLO'%>
      <p>Modifcando el pasillo </p>
      <%= label_tag :numero %>
      <%= text_field_tag (:numero), @element.numero %>
      <%= label_tag :cantidad_ocupados %>
      <%= text_field_tag (:cantidad_ocupados), @element.cantidad_ocupados %>
      <%= label_tag :cantidad_libres %>
      <%= text_field_tag (:cantidad_libres), @element.cantidad_libres %>

    <%elsif @table == 'dbo.SENSOR'%>
      <p>Modifcando el sensor </p>
      <%= label_tag :estado %>
      <%= text_field_tag (:estado), @element.estado %>
      <%= label_tag :fecha %>
      <%= text_field_tag (:fecha), @element.fecha %>

    <%elsif @table == 'dbo.HORARIO_DISPONIBLE'%>
      <p>Modifcando los horarios disponibles </p>
      <%= label_tag :dia %>
      <%= text_field_tag (:dia), @element.dia %>

    <%elsif @table == 'dbo.LOCALES'%>
      <p>Modifcando los locales </p>
      <%= label_tag :dimensiones %>
      <%= text_field_tag (:dimensiones), @element.dimensiones %>
      <%= label_tag :estado %>
      <%= text_field_tag (:estado), @element.estado %>
      <%= label_tag :costo %>
      <%= text_field_tag (:costo), @element.costo %>

    <%elsif @table == 'dbo.NEGOCIOS'%>
      <p>Modifcando los locales </p>
      <%= label_tag :nombre %>
      <%= text_field_tag (:nombre), @element.nombre %>
      <%= label_tag :giro %>
      <%= text_field_tag (:giro), @element.giro %>
      <%= label_tag :estado %>
      <%= text_field_tag (:estado), @element.estado %>

    <%elsif @table == 'dbo.LOCAL_NEGOCIO'%>
      <p>Modifcando los locales y sus respectivos negocios </p>
      <%= label_tag :fechainicio %>
      <%= text_field_tag (:fechainicio), @element.fechainicio %>
      <%= label_tag :fechafin %>
      <%= text_field_tag (:fechafin), @element.fechafin %>

    <%elsif @table == 'dbo.DESCUENTO'%>
      <p>Modifcando los descuentos </p>
      <%= label_tag :cantidad %>
      <%= text_field_tag (:cantidad), @element.cantidad %>

    <% end %>

    <input type="submit" name="commit" value="Guardar" data-disable-with="Guardar" />
    <%= link_to 'Cancelar', authenticated_root_path, class: 'btn btn-dark' %>
  </form>

</div>
