<div class="container">
  <form action="/update?table=<%=@table%>&id=<%=@element.id%>&s=<%=@system%>", method='post'>
    <% if @table == 'dbo.EMPLEADOS' %>
      <p>Modifcando Empleado</p>
      <%= label_tag :nombre %>
      <%= text_field_tag (:nombre), @element.nombre %>
      <%= label_tag :curp %>
      <%= text_field_tag (:curp), @element.curp %>

    <%elsif @table == 'dbo.TIPO_EMPLEADOS'%>
      <p>Modifcando tipo de empleado</p>
      <%= label_tag :nombre %>
      <%= text_field_tag (:nombre), @element.nombre %>
      <%= label_tag :salario %>
      <%= text_field_tag (:salario), @element.salario %>

    <%elsif @table == 'dbo.RECURSO_MATERIAL'%>
      <p>Modifcando el recurso material</p>
      <%= label_tag :nombre %>
      <%= text_field_tag (:nombre), @element.nombre %>
      <%= label_tag :categoria %>
      <%= text_field_tag (:categoria), @element.categoria %>

    <%elsif @table == 'dbo.TARJETA'%>
      <p>Modifcando la tarjeta</p>
      <%= label_tag :estado %>
      <%= text_field_tag (:estado), @element.estado %>

    <%elsif @table == 'dbo.ESTANCIA'%>
      <p>Modifcando la estancia</p>
      <%= label_tag :fechainicio %>
      <%= text_field_tag (:fechainicio), @element.fechainicio %>
      <%= label_tag :fechafin %>
      <%= text_field_tag (:fechafin), @element.fechafin %>
      <%= label_tag :duracion %>
      <%= text_field_tag (:duracion), @element.duracion %>
      <%= label_tag :subtotal %>
      <%= text_field_tag (:subtotal), @element.subtotal %>
      <%= label_tag :total %>
      <%= text_field_tag (:total), @element.total %>
      <%= label_tag :placa %>
      <%= text_field_tag (:placa), @element.placa %>

    <%elsif @table == 'dbo.TIPO_AREA'%>
      <p>Modifcando el tipo de area </p>
      <%= label_tag :nombre %>
      <%= text_field_tag (:nombre), @element.nombre %>

    <%elsif @table == 'dbo.AREA'%>
      <p>Modifcando el area </p>
      <%= label_tag :nombre %>
      <%= text_field_tag (:nombre), @element.nombre %>
      <%= label_tag :descripcion %>
      <%= text_field_tag (:descripcion), @element.descripcion %>
      <%= label_tag :id_tipoarea %>
      <%= text_field_tag (:id_tipoarea), @element.id_tipoarea %>

    <%elsif @table == 'dbo.CAJERO'%>
      <p>Modifcando el cajero </p>
      <%= label_tag :dineroactual %>
      <%= text_field_tag (:dineroactual), @element.dineroactual %>
      <%= label_tag :fechaactual %>
      <%= text_field_tag (:fechaactual), @element.fechaactual %>
      <%= label_tag :periodicidadmantenimiento %>
      <%= text_field_tag (:periodicidadmantenimiento), @element.periodicidadmantenimiento %>
      <%= label_tag :estado %>
      <%= text_field_tag (:estado), @element.estado %>

    <%elsif @table == 'dbo.ESTANCIA_CAJERO'%>
      <p>Modifcando el cajero </p>
      <%= label_tag :tarifa %>
      <%= text_field_tag (:tarifa), @element.tarifa %>
      <%= label_tag :fechainicio %>
      <%= text_field_tag (:fechainicio), @element.fechainicio %>
      <%= label_tag :fechafin %>
      <%= text_field_tag (:fechafin), @element.fechafin %>

    <%elsif @table == 'dbo.PASILLO'%>
      <p>Modifcando el pasillo </p>
      <%= label_tag :numero %>
      <%= text_field_tag (:numero), @element.numero %>
      <%= label_tag :cantidad_ocupados %>
      <%= text_field_tag (:cantidad_ocupados), @element.cantidad_ocupados %>
      <%= label_tag :cantidad_libres %>
      <%= text_field_tag (:cantidad_libres), @element.cantidad_libres %>

    <%elsif @table == 'dbo.SENSOR'%>
      <p>Modifcando el sensor </p>
      <%= label_tag :estado %>
      <%= text_field_tag (:estado), @element.estado %>
      <%= label_tag :fecha %>
      <%= text_field_tag (:fecha), @element.fecha %>

    <%elsif @table == 'dbo.HORARIO_DISPONIBLE'%>
      <p>Modifcando los horarios disponibles </p>
      <%= label_tag :dia %>
      <%= text_field_tag (:dia), @element.dia %>

    <%elsif @table == 'dbo.LOCALES'%>
      <p>Modifcando los locales </p>
      <%= label_tag :dimensiones %>
      <%= text_field_tag (:dimensiones), @element.dimensiones %>
      <%= label_tag :estado %>
      <%= text_field_tag (:estado), @element.estado %>
      <%= label_tag :costo %>
      <%= text_field_tag (:costo), @element.costo %>

    <%elsif @table == 'dbo.NEGOCIOS'%>
      <p>Modifcando los locales </p>
      <%= label_tag :nombre %>
      <%= text_field_tag (:nombre), @element.nombre %>
      <%= label_tag :giro %>
      <%= text_field_tag (:giro), @element.giro %>
      <%= label_tag :estado %>
      <%= text_field_tag (:estado), @element.estado %>

    <%elsif @table == 'dbo.LOCAL_NEGOCIO'%>
      <p>Modifcando los locales y sus respectivos negocios </p>
      <%= label_tag :fechainicio %>
      <%= text_field_tag (:fechainicio), @element.fechainicio %>
      <%= label_tag :fechafin %>
      <%= text_field_tag (:fechafin), @element.fechafin %>

    <%elsif @table == 'dbo.DESCUENTO'%>
      <p>Modifcando los descuentos </p>
      <%= label_tag :cantidad %>
      <%= text_field_tag (:cantidad), @element.cantidad %>

    <%elsif @table == 'dbo.TIPO_ACCIDENTE'%>
      <p>Modifcando los tipos de accidente </p>
      <%= label_tag :nombre %>
      <%= text_field_tag (:nombre), @element.nombre %>

    <%elsif @table == 'dbo.ACCIDENTES'%>
      <p>Modifcando los accidentes </p>
      <%= label_tag :fecha %>
      <%= text_field_tag (:fecha), @element.fecha %>

    <%elsif @table == 'dbo.CONTRATO'%>
      <p>Modifcando los contratos </p>
      <%= label_tag :fechainicio %>
      <%= text_field_tag (:fechainicio), @element.fechainicio %>
      <%= label_tag :fechafin %>
      <%= text_field_tag (:fechafin), @element.fechafin %>
      <%= label_tag :costo %>
      <%= text_field_tag (:costo), @element.costo %>

    <%elsif @table == 'dbo.RENTAS'%>
      <p>Modifcando las rentas </p>
      <%= label_tag :fechacobro %>
      <%= text_field_tag (:fechacobro), @element.fechacobro %>
      <%= label_tag :statusretraso %>
      <%= text_field_tag (:statusretraso), @element.statusretraso %>
      <%= label_tag :statuspagado %>
      <%= text_field_tag (:statuspagado), @element.statuspagado %>

    <%elsif @table == 'dbo.PROVEEDOR'%>
      <p>Modifcando las rentas </p>
      <%= label_tag :nombre %>
      <%= text_field_tag (:nombre), @element.nombre %>
      <%= label_tag :rfc %>
      <%= text_field_tag (:rfc), @element.rfc %>
      <%= label_tag :telefono %>
      <%= text_field_tag (:telefono), @element.telefono %>

    <%elsif @table == 'dbo.CATEGORIA'%>
      <p>Modifcando categoria con id <%= @element.id %> </p>
      <%= label_tag :nombre %>
      <%= text_field_tag (:nombre), @element.nombre %>

    <%elsif @table == 'dbo.TIPO_MATERIAL'%>
      <p>Modifcando tipo material con id <%= @element.id %> </p>
      <%= label_tag :nombre %>
      <%= text_field_tag (:nombre), @element.nombre %>

    <%elsif @table == 'dbo.PROVEEDOR_MATERIAL'%>
      <p>Modifcando detalle proveedor material con id <%= @element.id %> </p>
      <%= label_tag :costo %>
      <%= text_field_tag (:costo), @element.costo %>
      <%= label_tag :minimo %>
      <%= text_field_tag (:minimo), @element.minimo %>

    <%elsif @table == 'dbo.SOLICITUD_COMPRA'%>
      <p>Modifcando la solicitud de compra con id <%= @element.id %> </p>
      <%= label_tag :cantidad_total %>
      <%= text_field_tag (:cantidad_total), @element.cantidad_total %>
      <%= label_tag :costototal %>
      <%= text_field_tag (:costototal), @element.costototal %>

    <%elsif @table == 'dbo.SERVICIO'%>
      <p>Modifcando el servicio con id <%= @element.id %> </p>
      <%= label_tag :nombre %>
      <%= text_field_tag (:nombre), @element.nombre %>
      <%= label_tag :duracion %>
      <%= text_field_tag (:duracion), @element.duracion %>

    <%elsif @table == 'dbo.SERVICIO_MATERIAL'%>
      <p>Modifcando el detalle servicio material con id <%= @element.id %> </p>
      <%= label_tag :cantidad %>
      <%= text_field_tag (:cantidad), @element.cantidad %>

    <%elsif @table == 'dbo.TAREA'%>
      <p>Modifcando la tarea con id <%= @element.id %> </p>
      <%= label_tag :duracion %>
      <%= text_field_tag (:duracion), @element.duracion %>

    <%elsif @table == 'dbo.TAREA_MATERIAL'%>
      <p>Modifcando detalle tarea material con id <%= @element.id %> </p>
      <%= label_tag :cantidadentregada %>
      <%= text_field_tag (:cantidadentregada), @element.cantidadentregada %>

    <%elsif @table == 'dbo.SECCION_BODEGA'%>
      <p>Modifcando la secci칩n de bodega con id <%= @element.id %> </p>
      <%= label_tag :tama침o %>
      <%= text_field_tag (:tama침o), @element.tama침o %>

    <%elsif @table == 'dbo.HORARIO'%>
      <p>Modifcando el horario con id <%= @element.id %> </p>
      <%= label_tag :fechainicio %>
      <%= text_field_tag (:fechainicio), @element.fechainicio %>
      <%= label_tag :fechafin %>
      <%= text_field_tag (:fechafin), @element.fechafin %>

    <%elsif @table == 'dbo.TIPO_INCIDENTE'%>
      <p>Modifcando el tipo de incidente con id <%= @element.id %> </p>
      <%= label_tag :nombre %>
      <%= text_field_tag (:nombre), @element.nombre %>

    <%elsif @table == 'dbo.INCIDENTE'%>
      <p>Modifcando el incidente con id <%= @element.id %> </p>
      <%= label_tag :fecha %>
      <%= text_field_tag (:fecha), @element.fecha %>

    <%elsif @table == 'dbo.ORDEN_SERVICIO'%>
      <p>Modifcando la orden de servicio con id <%= @element.id %> </p>
      <%= label_tag :fecha %>
      <%= text_field_tag (:fecha), @element.fecha %>
      <%= label_tag :prioridad %>
      <%= text_field_tag (:prioridad), @element.prioridad %>

    <%elsif @table == 'dbo.CONTRATANTE'%>
      <p>Modifcando la orden de servicio con id <%= @element.id %> </p>
      <%= label_tag :nombre %>
      <%= text_field_tag (:nombre), @element.nombre %>
      <%= label_tag :numero %>
      <%= text_field_tag (:numero), @element.numero %>

    <%elsif @table == 'dbo.ORDENSERVICIO_CONTRATANTE'%>
      <p>Modifcando el detalle de la orden de servicio y los contratantes con id <%= @element.id %> </p>
      <%= label_tag :costo %>
      <%= text_field_tag (:costo), @element.costo %>
      <%= label_tag :tiempo %>
      <%= text_field_tag (:tiempo), @element.tiempo %>

    <%elsif @table == 'dbo.AREA_SERVICIO'%>
      <p>Modifcando el detalle de areas y servicios con id <%= @element.id %> </p>
      <%= label_tag :periodicidad %>
      <%= text_field_tag (:periodicidad), @element.periodicidad %>

    <%elsif @table == 'dbo.ORDEN_DESPACHO'%>
      <p>Modifcando la orden de despacho con id <%= @element.id %> </p>
      <%= label_tag :fechaentrega %>
      <%= text_field_tag (:fechaentrega), @element.fechaentrega %>

    <%elsif @table == 'dbo.ORDENDESPACHO_MATERIAL'%>
      <p>Modifcando el detalle de la orden de despacho y los materiales con id <%= @element.id %> </p>
      <%= label_tag :cantidadrecibida %>
      <%= text_field_tag (:cantidadrecibida), @element.cantidadrecibida %>
      <%= label_tag :fechadecaducidad %>
      <%= text_field_tag (:fechadecaducidad), @element.fechadecaducidad %>

    <%elsif @table == 'dbo.GANANCIAS'%>
      <p>Modifcando la ganancia con id <%= @element.id %> </p>
      <%= label_tag :ingresos %>
      <%= text_field_tag (:ingresos), @element.ingresos %>
      <%= label_tag :egresos %>
      <%= text_field_tag (:egresos), @element.egresos %>
      <%= label_tag :fechacorte %>
      <%= text_field_tag (:fechacorte), @element.fechacorte %>

    <%elsif @table == 'dbo.INGRESO_ESTACIONAMIENTO'%>
      <p>Modifcando ingreso esacionamiento con id <%= @element.id %> </p>
      <%= label_tag :cantidad %>
      <%= text_field_tag (:cantidad), @element.cantidad %>
      <%= label_tag :fecha %>
      <%= text_field_tag (:fecha), @element.fecha %>

    <%elsif @table == 'dbo.EGRESO_MANTENIMIENTO'%>
      <p>Modifcando egreso mantenimiento con id <%= @element.id %> </p>
      <%= label_tag :cantidad %>
      <%= text_field_tag (:cantidad), @element.cantidad %>
      <%= label_tag :fecha %>
      <%= text_field_tag (:fecha), @element.fecha %>

    <%elsif @table == 'dbo.PAGOS'%>
      <p>Modifcando pagos con id <%= @element.id %> </p>
      <%= label_tag :monto %>
      <%= text_field_tag (:monto), @element.monto %>
      <%= label_tag :fecha %>
      <%= text_field_tag (:fecha), @element.fecha %>

    <%elsif @table == 'dbo.ABONOS'%>
      <p>Modifcando pagos con id <%= @element.id %> </p>
      <%= label_tag :monto %>
      <%= text_field_tag (:monto), @element.monto %>
      <%= label_tag :fechapago %>
      <%= text_field_tag (:fechapago), @element.fechapago %>

    <% end %>

    <input type="submit" name="commit" value="Guardar" data-disable-with="Guardar" />
    <%= link_to 'Cancelar', authenticated_root_path, class: 'btn btn-dark' %>
  </form>

</div>
